/* CSS BY MACKENZIE STEGINK */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --midnight-blue: #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;
    --font-family: "Playfair Display", serif;
}

/* GLOBAL STYLES (mobile first/small) */
body {
	background-color: var(--linen);
	display: grid;
	justify-content: center;
	grid-template-columns: auto;
	grid-template-areas: "header" "main" "footer";
	font-family: var(--font-family);
	margin: 0 auto;
}
header {
	grid-area: header;
	background-color: var(--midnight-blue);
	color: var(--soft-white);
	font-family: var(--font-family);
	padding: 1rem;
	text-align: center;
}
main {
	grid-area: main;
}
h1 {
	font-size: 3em;
	color: var(--soft-white);
}
h2 {
	font-size: 2em;
	color: var(--midnight-blue);
}
h3 {
	font-size: 1.5em;
	color: var(--midnight-blue);
}
h4 {
	font-size: 1.14em;
	color: var(--midnight-blue);
}
p {
	font-size: 1em;
	color: var(--dark-charcoal);
	line-height: 1.5;
}
footer {
	grid-area: footer;
	background-color: var(--midnight-blue);
	color: var(--soft-white);
}
footer a {
	color: var(--champagne-gold);
	font-weight: bold;
}
.offerings {
	background-color: var(--olive-green);
	color: var(--soft-white);
	padding: 0.5rem;
	border-radius: 5px;
	margin: 1rem;
	box-shadow: #2B2B2B 0px 2px 4px;
}
.offerings p {
	color: var(--soft-white);
}
.offerings h3 {
	color: var(--soft-white);
	font-weight: bold;
}
/* MEDIA QUERY (medium) */

/* MEDIA QUERY (large) */

/* MEDIA QUERY (xl) */
